<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="straceout-utils-tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
